[user]
	name = Paul Boiseau
	email = hello@paulboiseau.ovh
	signingkey = 070E06ED256513BE
[commit]
	gpgsign = true
	program = /usr/local/bin/gpg
[core]
	editor = vim
	excludesfile = /Users/$HOME/.gitignore_global
	filemode = true
[color]
	branch = auto
	diff = auto
	status = auto
	ui = true
[color "status"]
	added = green bold
	changed  = cyan bold
	untracked = yellow bold
[color "branch"]
	current = cyan bold
	local = yellow
	remote = green
[push]
	default = current
[status]
	submodulesummary = true
	relativePaths = false
	showUntrackedFiles = all
[branch]
	autosetuprebase = always
[pull]
	rebase = true
[rerere]
	enabled = true
[alias]
	pf = push --force-with-lease
	lg = log --graph --pretty=tformat:'%Cred%h%Creset -%C(yellow)%d%Creset%s %Cgreen(%an %cr)%Creset' --abbrev-commit --date=relative
