[user]
	name = Paul Boiseau
	email = paulboiseau@gmail.com
	signingkey = 02406565AEE9915C
[commit]
	gpgsign = true
[core]
	editor = vim
	excludesfile = /Users/Paul1/.gitignore_global
	filemode = true
[color]
	branch = auto
	diff = auto
	status = auto
	ui = true
[color "status"]
	added = green bold
	changed  = cyan bold
	untracked = yellow bold
[color "branch"]
	current = cyan bold
	local = yellow
	remote = green
[push]
	default = tracking
[status]
	submodulesummary = true
	relativePaths = false
	showUntrackedFiles = all
[branch]
	autosetuprebase = always
[pull]
	rebase = true
[rerere]
	enabled = true
[alias]
	gpf = push --force-with-lease
	lg = log --graph --pretty=tformat:'%Cred%h%Creset -%C(yellow)%d%Creset%s %Cgreen(%an %cr)%Creset' --abbrev-commit --date=relative
